*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 15px 30px;
  max-width: 1400px;
  min-width: 320px;
  /* border: 2px solid green; */
}

/*      _____Fonts_____     */
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
p{
  font-size: 1.5em;
}
a, ul {
  font-size: 1.05em;
}


/*          _____resume_____          */
.educ {
  grid-area: educ;
  border: 2px dashed orange;
  /* width: 1200px; */
}
.skills {
  border: 2px dashed hotpink;
  grid-area: skills;
}
.cert {
  border: 2px dashed grey;
  grid-area: cert;
}
.git {
  grid-area: git;
  border: 2px dashed grey;
}
.gitlog{
  width: 60px;
  height: 60px;
  border: 2px solid pink;
}

.gridup{
  border: 2px solid black;
  display: grid;
  /* margin-top: 200px; */
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr repeat(2, 1fr);
  grid-template-areas:
    "educ educ"
    "skills cert"
    "skills git";
  grid-gap: 10px;
}

/*          _____Form_____          */
.free{
  /* width = ~300px*/
  border: 2px dotted #4290f5;
}
/* @media screen and (max-width: 600px) {
  body {
    background-color: pink;
  }
} */

.sub {
  grid-area: sub;
}
.pho{
  grid-area: pho;
}
.nam{
  grid-area: nam;
}
.mai{
  grid-area: mai;
}

.grid{
  border: 2px dashed salmon;
  display: grid;
  margin-top: 200px;
  grid-template-columns: repeat(4, 2fr) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sub nam pho mai .";
  grid-gap: 5vh;
}

@media screen and (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "sub nam"
      "pho mai"; 
  }
}

.message{
  margin-top: 200px;
  /*   border: 1px solid; */
}
.message input{
  text-align: none;
  width: 60vw;
  height: 30vh;
  min-width: 320px;
}