<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Portfolio</title>
</head>
<body>
 <div class="portf">Здесь будет портфолио</div>
 <div class="response">
     <form autocomplete="off">
         <label>Ваше имя:</label>
         <input> id="" placeholder="Name" />

         <label>Ваша почта:</label>
         <input> id="email" placeholder="email@sample.com" />
        
         <label>Ваш номер телефона:</label>
         <input> id="tel" placeholder="89997654321" />
        
         <label>Ваше сообщение:</label>
         <input> placeholder="" />
     </form>
 </div>
</body>
</html>

<!--    <label></label>
       <input> id="" name="" type="" placeholder="" required autofocus /> -->

<!--<div>name</div>
   <div>mail</div>
   <div>phoneNumber</div>
   <div>message</div>
   <button>submit</button> -->